*{
				box-sizing: border-box;
}
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Playball', cursive;
font-family: 'Roboto', sans-serif;
 */
body {
				margin:0;
				padding:0;
				font-family: 'Roboto', sans-serif;
				background: #131419;
}
html{
		scroll-behavior: smooth;
}
				/* navigation */

.navbar{
				background: #131419;
				padding: 1% 7%;
				text-align: center;
}
.navbar::after{
				content:'';
				display: table;
				clear: both;
}
.nav-head h1{
				color:#d6a700;
				font-family: 'Playball', cursive;
}
img{
				width: 100px;
				height: auto;
				border-radius: 50%;
}
a{
				text-decoration: none;
				font-size: 10px;
				font-weight: bold;
				color: white;
}
[class*="col-"]{
				float: left;
				padding: 10px;
}
[class*="col-"]{
				width: 100%;
}
.nav-menu a{
				margin: 7px;
				padding: 10px;
				background-color: #131419;
				border-radius: 10px;
				box-shadow: -7px -7px 18px rgba(255,255,255,0.07),
								     7px 7px 12px rgba(0,0,0,0.7);
}
.nav-menu a:hover{
				color: gray;
				box-shadow: inset -7px -7px 18px rgba(255,255,255,0.07),
								    inset 7px 7px 12px rgba(0,0,0,0.7);
}
.navbar .nav-menu{
				display: flex;
				flex-direction: column;
				text-transform: uppercase;
}

				/* end of navigation */

				/* About section */
				
.about{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				margin-top: 70px;
}
.about-container{
				position: relative;
				height: 700px;
				width: 90%;
				box-shadow: inset -9px -9px 8px rgba(255,255,255,0.1),
								    inset 9px 9px 12px rgba(0,0,0,0.7),
								    -9px -9px 8px rgba(255,255,255,0.1),
								    9px 9px 12px rgba(0,0,0,0.7);
			 border-radius: 10px;
}
.about .about-container .about-card{
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
}
.about .about-container .about-card::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;
				background: rgba(255,255,255,0.05);
				
}
.about .about-content{
				text-align: center;
				justify-content: center;
				
}
.about-content h1{
				color: white;
			  font-weight: bold;
			  font-size: 15px;
				}
.about-content span{
				color: gray;
				padding: 5px;
				position: relative;
				top: 10px;
}
.about-content span:nth-child(1):after,
.about-content span:nth-child(2):after
{
				content:'';
				position: absolute;
				left: 80.5px;
				bottom:10px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: gray;
}
.about-content .dot::before{
				content:'';
				position: absolute;
				right: 48px;
				bottom:10px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: gray;
}
.title::before{
				content:'';
				position: absolute;
				top: 32px;
				left: calc(50% - 22.5px);
				width: 45px;
				height: 2px;
				background-color: white;
}
.title::after{
				content: '';
				position: absolute;
				top: 29px;
				left: calc(50% - 3.5px);
				width: 7px;
				height: 7px;
				border-radius: 50%;
				border: 1px solid #1e1e21;
				background: gold;
}
.skills{
				text-align:center;
}
.skills h2{
				margin-top: 20px;
				color: white;
				font-weight: normal;
				font-size: 15px;
}
.skills li{
				list-style-type: none;
				color: white;
				margin: 10px;
				font-size: 10px;
}
.skills li h3{
				text-align: left;
				margin-bottom: 20px;
}
.bar{
				background: #5d5800;
				transform: translateY(-10px);
				height: 4px;
				display: block;
				border-radius: 3px;
				border: 1px solid rgba(0,0,0,0.4);
				box-shadow: 0 0 5px #5d5800;
}
.bar span{
				height: 2px;
				float: left;
				border-radius: 3px;
				background: #d6a700;
}
.html{
				width: 90%;
				box-shadow: 0 0 10px #d6a700;
				animation: html 4s forwards;
				animation-iteration-count: 5;
}
.css{
				width: 85%;
				box-shadow: 0 0 10px #d6a700;
				animation: css 4s forwards;
				animation-iteration-count: 5;
}
.js{
				width: 50%;
				box-shadow: 0 0 10px #d6a700;
				animation: js 4s forwards;
				animation-iteration-count: 5;
}
.python{
				width: 30%;
				box-shadow: 0 0 10px #d6a700;
				animation: python 4s forwards;
				animation-iteration-count: 5;
}
.jquery{
				width: 60%;
				box-shadow: 0 0 10px #d6a700;
				animation: jQuery 4s forwards;
				animation-iteration-count: 5;
}
@keyframes html{
				from{
								width:0;
				}
				to{
								width: 90%;
				}
}
@keyframes jQuery{
				from{
								width:0;
				}
				to{
								width: 60%;
				}
}
@keyframes js{
				from{
								width:0;
				}
				to{
								width: 50%;
				}
}@keyframes python{
				from{
								width:0;
				}
				to{
								width: 30%;
				}
}@keyframes css{
				from{
								width:0;
				}
				to{
								width: 85%;
				}
}
.info{
				margin-top: 25px;
}
.info h2{
			font-weight: normal;
			text-align: center;
			color: white;
			font-size: 15px;
}
.info p{
				text-align: justify;
				margin-top: 20px;
				padding: 10px;
				color: gray;
}
				/* end of about section */
				
				/* service section */
				
.material-icons{
		color: #d6a700;
		font-size: 3rem;
		margin-top: 15px;
}
h3{
		color: white;
		font-weight: normal;
}
p{
		color: gray;
}


.services{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				margin-top: 70px;
}
.service-item{
				position: relative;
				height: 865px;
				width: 90%;
				box-shadow: inset -9px -9px 8px rgba(255,255,255,0.1),
								    inset 9px 9px 12px rgba(0,0,0,0.7),
								    -9px -9px 8px rgba(255,255,255,0.1),
								    9px 9px 12px rgba(0,0,0,0.7);
			 border-radius: 10px;
}
.services .service-item .service-content{
				position: absolute;
				top: 70px;
				left: 15px;
				right: 15px;
				bottom: 615px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
				text-align: center;
}
.services .service-item .service-content2{
				position: absolute;
				top: 270px;
				left: 15px;
				right: 15px;
				bottom: 415px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
				text-align: center;
}
.services .service-item .service-content3{
				position: absolute;
				top: 470px;
				left: 15px;
				right: 15px;
				bottom: 215px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
				text-align: center;
}
.services .service-item .service-content4{
				position: absolute;
				top: 670px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
				text-align: center;
}
.services .service-item .head{
				position: absolute;
				top: 15px;
				left: 35%;
				right: 35%;
				bottom: 805px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
}
.head h1{
				color: white;
			  font-weight: bold;
			  font-size: 15px;
			  text-align: center;
}
.head::before{
				content:'';
				position: absolute;
				top: 32px;
				left: calc(50% - 28px);
				width: 56px;
				height: 2px;
				background-color: white;
}
.head::after{
				content: '';
				position: absolute;
				top: 29px;
				left: calc(50% - 3.5px);
				width: 7px;
				height: 7px;
				border-radius: 50%;
				border: 1px solid #1e1e21;
				background: gold;
}
.hl::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;
				background: rgba(255,255,255,0.05);
}
 
 				/* education section */
.edu-content h4{
		color: white;
}
.education{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				margin-top: 70px;
}
.edu-item{
				position: relative;
				height: 790px;
				width: 90%;
				box-shadow: inset -9px -9px 8px rgba(255,255,255,0.1),
								    inset 9px 9px 12px rgba(0,0,0,0.7),
								    -9px -9px 8px rgba(255,255,255,0.1),
								    9px 9px 12px rgba(0,0,0,0.7);
			  border-radius: 10px;
}
.edu-phism{
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				background: #1e1e21;
				border-radius: 10px;
				box-shadow: 0 20px 50px rgba(0,0,0,0.5);
				overflow: hidden;
}
.edu-phism::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;
				background: rgba(255,255,255,0.05);
}
.edu-content p{
		text-align: justify;
}
.edu-content h4{
		font-weight: bold;
		font-size: 10px;
}
.edu-content h3{
		font-weight: bold;
		font-size: 15px;
}
.edu-content{
		margin-left: 30px;
		padding: 10px;
}
.edu-content::before{
		content:'';
		position: absolute;
		left: 20px;
		width: 1px;
		height: 20%;
		background: gray;
}
.edu-content::after{
		content:'';
		position: absolute;
		left: 16px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: gold;
		border: 1px solid rgba(255,255,255,0.05);
		transform: translateY(-150px);
}

				/*  contact section */
				
.contact{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 70px;
}
.contact-item{
				position: relative;
				height: 680px;
				width: 90%;
				box-shadow: -7px -7px 10px rgba(255,255,255,0.07),
								     7px 7px 10px rgba(0,0,0,0.7);
			  border-radius: 10px;
}

.contact-email input,textarea{
		width: 95%;
		text-align: center;
		font-size: 1rem;
		color: white;
		background: #131419;
		border: none;
		border-radius: 40px;
		padding: 5px 15px;
		outline: none;
		margin-bottom: 15px;
		box-shadow: inset -7px -7px 10px rgba(255,255,255,0.07),
								inset 7px 7px 10px rgba(0,0,0,0.7);
}
.contact-email{
		text-align: center;
}
.contact-email h3{
		margin-top: 35px;
		font-size: 1rem;
}
.contact-email textarea{
		height: 100px;
}
.contact-email input[type="submit"]{
		width: 80px;
		height: 40px;
		box-shadow: -7px -7px 10px rgba(255,255,255,0.07),
								7px 7px 10px rgba(0,0,0,0.7);
}
.contact-email input[type="submit"]:active{
		width: 80px;
		height: 40px;
		box-shadow: inset -7px -7px 10px rgba(255,255,255,0.07),
								inset 7px 7px 10px rgba(0,0,0,0.7);
}
.contact-email input[type="reset"]{
		width: 80px;
		height: 40px;
		box-shadow: -7px -7px 10px rgba(255,255,255,0.07),
								7px 7px 10px rgba(0,0,0,0.7);
}
.contact-email input[type="reset"]:active{
		width: 80px;
		height: 40px;
		box-shadow: inset -7px -7px 10px rgba(255,255,255,0.07),
								inset 7px 7px 10px rgba(0,0,0,0.7);
}
.contact-icon h3{
		margin-top: 50px;
		text-align: center;
		font-size: 1rem;
}
.media-icons{
		text-align: center;
}
.media-icons .fab{
		color: #d6a700;
}
.media-icons button{
		background: #131419;
		outline: none;
		border:none;
		margin: 10px;
		width: 50px;
		height: 50px;
		font-size: 30px;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: -7px -7px 20px rgba(255,255,255,0.09),
								7px 7px 12px rgba(0,0,0,0.9);
}
.media-icons button:hover{
		box-shadow: inset -7px -7px 12px rgba(255,255,255,0.09),
								inset 7px 7px 12px rgba(0,0,0,0.9);
}
.media-icons .fab:hover{
		color: #695200;
}

				/* footer section */
				
.footer{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 50px;
}
.footer-item{
				position: relative;
				height: 100px;
				width: 90%;
				box-shadow: -7px -7px 10px rgba(255,255,255,0.07),
								     7px 7px 10px rgba(0,0,0,0.7);
			  border-radius: 10px;
}
.footer-item::after{
		display: table;
		clear: both;
		content: '';
}
.footer-menu{
		text-align: center;
}
.footer-menu a{
		margin: 5px;
}
.footer-menu a:hover{
		color: gray;
}
.footer-desc p{
		font-size: 0.7rem;
		text-align: center;
		color: gray;
}
